.main-image-wrapper {
  transition: height 0.35s linear;
  border: 1pt solid #ccc;
}


.main-image-upload-container {
  width:100%;
}

.image-box {
  position: relative;
  display: inline;
  background-color: white;
  outline: none;
  outline-offset: +2px;
}

.image-input-container {
  display: none;
  background-color: #fff;
}

.image-input-container.active {
  display: block;
}

.image-box label {
  cursor: pointer;
  font-size: 14pt;
  font-weight:bold;
  color: #7f8286;
  background-color: #d8d7d7;
  border: 1px solid transparent;
  text-align: center;
  padding: 35pt;
  display: block;
  transition: all 0.35s linear;
}

.image-box label:hover,
.image-box.is-dragover label {
  border-color: #d8d7d7;
  background-color: #fff;
}

.image-box-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.image-input-notice ul {
  margin:0;
  padding: 0;
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}

.result-image-container {
  width: 100%;
  /*background-image: url('./assets/images/transparent-bg.png');
  background-repeat: repeat;*/
}

.result-image {
  display:none;
  position: relative;
  width:100%;
  background-repeat: no-repeat;
  overflow: hidden;
  /*transition: background-position 0.15s linear;*/
}

.result-image.active {
  display:block;
}


.remove-image-container {
  position: absolute;
  top:5px;
  right: 5px;
  color: #fff;
  cursor: pointer;
}

.image-controls-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  white-space: nowrap;
  padding: 3px;
  background: rgba(255, 255, 255, 0.75);
}

.image-controls-wrapper div {
  display:inline-block;
  vertical-align: middle;
  padding: 0 10pt;
}

.image-controls-wrapper span {
  color: #175DA9;
  cursor: pointer;
  transition: color 0.25s linear;
  font-size: 25px;
}

.image-controls-wrapper span:hover {
  color: #7389ae;
}

.zoomer {
  width: 300px;
}
.positions-container ul {
  margin: 0;
  padding: 0;
  display: table;
  width:200px;
  list-style: none;
}

.positions-container ul li {
  display: table-cell;
}

.final-image-container {
  display:none;
}

.final-image-container.active {
  display:block;
}

.final-image-image img {
  width:100%;
  height: auto;
}
