.notify-wrapper {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.notification {
  padding: 1em;
  border: 1px solid #b2b2b2;
  margin-top: 1em;
}

.notification:before {
  text-align: center;
  margin: 1em 0;
  width: 100%;
  display: block;
}

.notification.error {
  background-color: #EF6461;
}

.notification.success {
  background-color: #7EE081;
}

@media (min-width: 768px) {
  .notify-wrapper {
    width: 30%;
    bottom: 0px;
  }
}
