<!-- <div [formGroup]="form" *ngIf="isDataAvailable">
  <div class="input-group">
    <input
    [type]="locationPropertyName"
    [name]="locationPropertyName"
    [(ngModel)]="model.locationPropertyName"
    [formControlName]="locationPropertyName"
    class="form-control"
    [placeholder]="labelText"
    >
  </div>
</div> -->
<div [formGroup]="form" *ngIf="isModelAvailable">
  <div class="input-group">
    <input
    type="text"
    [name]="locationProperty"
    [(ngModel)]="'model.' + locationProperty"
    [formControlName]="locationProperty"
    class="form-control"
    [placeholder]="locationDisplay"
    >
  </div>
</div>
