<div class="listing-preview" (click)="displayListingDetail()">
  <div class="listing-header service-offer">
    <p>Biete / Dienstleistung</p> <!-- Requires dynamic population -->
  </div>
  <div class="listing-image service-offer-50">
    <view-preview-image></view-preview-image>
    <div *ngIf="listing.mainImage.length === 0">
      <span class="icon listing-service"></span>
    </div>
    <view-preview-price></view-preview-price>
  </div>
  <div class="listing-heading">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-location></view-preview-location>
  </div>
  <div class="listing-footer">
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
