<h1>Admin Dashboard</h1>
<h2>Inserate</h2>
<div class="" *ngFor="let listing of listings">
  <span>{{listing.title}}</span>
  <button type="button" name="button" (click)="activateListing(listing.id)" *ngIf="!listing.isActive">Aktivieren</button>
  <button type="button" name="button" (click)="deactivateListing(listing.id)" *ngIf="listing.isActive">Deaktivieren</button>
  <button type="button" name="button" (click)="removeListing(listing.id)">Löschen</button>
  <button type="button" name="button" (click)="editListing(listing)">Ändern</button>
</div>
<div class="" *ngIf="listings">
  <p (click)="loadMoreListings()">Weitere Inserate anzeigen</p>
</div>
<h2>Mitarbeiter</h2>
<div class="" *ngFor="let user of users">
  <span>{{user.firstName}} {{user.lastName}}</span>
  <button type="button" name="button" (click)="appointAdmin(user.userID)" *ngIf="!user.isAdmin">ernennen</button>
</div>
