.listing-detail-content {
  display: table;
  width: 90%;
  margin: 2em auto;
  background-color: #FFF8F0;
  color: #57585A;
}
.fallback-image {
  position: relative;
}
.fallback-image img {
  width: 100%;
  height: auto;
}
.fallback-icon {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.fallback-icon span {
  width: 100%;
  text-align: center;
  font-size: 4em;
  color: #fff;
}
.listing-detail-header {
  padding: 5pt 0;
  position: relative;
  color: #FFF8F0;
}

.listing-detail-header h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.listing-title-cta-container {
  margin:1em 0;
}

.title-cta-col {
  padding-left: 0;
}

.cta-element {
  margin: 10pt 0;
  text-align: left;
}

.action-buttons-column {
  padding-left:0;
}

/*Responsive settings*/
@media (min-width: 768px) {
  .listing-detail-content {
    width: 60%;
  }
  .cta-element {
    margin-top: 0;
    text-align: right;
  }
  .action-buttons-column {
    padding-right:0;
  }
}
