.listing-preview {
/*width: 275px;
height: 275px;*/
width: 93vw;
height: 100vw;
background-color: #dddedf;
background-image: url('./assets/images/listing-corner.png');
background-repeat: no-repeat;
background-position: right bottom;
background-size: 50px auto;
margin: 10pt;
transition: width, height 0.15s ease-in-out;
}

.listing-header p, .listing-title {
  text-transform: uppercase;
  font-weight: bold;
}

.listing-header {
  padding: 2pt;
  text-align: center;
}

.listing-header p {
  color: #fff;
  margin:0;
}

.listing-title {
  color: #58585a;
}

.listing-image {
  position:relative;
  height: calc(300px * 0.525);
}

.listing-image span {
  color: #fff;
  font-size: 3em;
}

.listing-heading, .listing-body, .listing-footer {
  padding: 5pt;
}

/**Special responsive behaviour*/
@media (min-width: 480px) { /*Tablets*/
  .listing-preview {
  width: 325px;
  height: 325px;
  background-size: calc(325px / 6) auto;
  }
  .listing-image {
    height: calc(325px * 0.525);
  }
}

@media (min-width: 480px) and (min-height: 768px) { /*Tablets*/
  .listing-preview {
  width: 275px;
  height: 275px;
  background-size: calc(275px / 6) auto;
  }
  .listing-image {
    height: calc(275px * 0.525);
  }
}

@media (min-width: 768px) { /*Large Tablet*/
  .listing-preview {
  width: 350px;
  height: 350px;
  background-size: calc(350px / 6) auto;
  }
  .listing-image {
    height: calc(350px * 0.525);
  }
}
@media (min-width: 768px) and (min-height: 768px) { /**Narrow screens*/
  .listing-preview {
  width: 300px;
  height: 300px;
  background-size: calc(300px / 6) auto;
  }
  .listing-image {
    height: calc(300px * 0.525);
  }
}

@media (min-width: 992px) { /*Large Tablet*/
  .listing-preview {
  width: 350px;
  height: 350px;
  background-size: calc(350px / 6) auto;
  }
  .listing-image {
    height: calc(350px * 0.525);
  }
}

}
@media (min-width: 1200px) { /*XXL Desktops*/
  .listing-preview {
  width: 375px;
  height: 375px;
  background-size: calc(375px / 6) auto;
  }
  .listing-image {
    height: calc(375px * 0.525);
  }
}
@media (min-width: 1200px) and (min-height: 768px) { /**Narrow screens*/
  .listing-preview {
  width: 325px;
  height: 325px;
  background-size: calc(325px / 6) auto;
  }
  .listing-image {
    height: calc(325px * 0.525);
  }
}
