/**
* Controls the displays for all listing-relevant pages
*/
.listing-viewport {
  display:flex;
  height: 84vh;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #F4FAFF;
}

.level-down {
  display: none;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.level-down.active {
  display: block;
}

.listing-scroll-container,
.listing-standard-container { /**Required to hide scroll-bar*/
  position: absolute;
  width:100%;
  height: 100%;
  top:0;
  left:0%;
  background-color: #fff;
  transition: left 0.5s ease-in-out;
  z-index: 1000;
}

.listing-scroll-container {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.slide-away .main-viewport {
left: 100%;
}

.listing-wrapper {
  white-space: nowrap;
  overflow:auto;
}

.listing-container {
  display: inline-block;
}

.listing-container-inner {
  display: table;
}

.listing {
  display:table-cell;
}

/*HIDING HORIZONAL SCROLLBARS IS TRICKY*/
.listing-wrapper::-webkit-scrollbar  {/*ALL WEBKIT BROWSERS...*/
display:none;
}

@-moz-document url-prefix() { /*..IN FIREFOX...*/
    .listing-wrapper {
        margin-bottom: -16px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {/*...IE10 & IE11...*/
  .listing-wrapper {
      margin-bottom: -17px;
  }
}

@supports (-ms-accelerator:true) { /*... MS EDGE UPTO 12...*/
  .listing-wrapper {
      margin-bottom: -16px;
  }
}

@supports (-ms-ime-align:auto) { /*...MS EDGE POST VERSION 12*/
  .listingr-wrapper {
      margin-bottom: -16px;
  }
}

/**SCROLL ICONS*/
.listing-scroll-control {
  padding: 10pt;
  display: none;
  align-items: center;
  justify-content: center;
  top:0;
  position: absolute;
  height:100%;
  cursor: pointer;
}

.listing-scroll-control span {
  color: #000000;
}

.listing-scroll-control.active {
  display:flex;
}
.listing-scroll-control:hover {

}

.listing-scroll-control.backward {
  left: 0;
}

.listing-scroll-control.forward {
  right: 0;
}

/**LOADER FOR LISTINGS*/
@keyframes rotateElement {
    0% {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
    100% {
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
      transform: rotate(360deg);
    }
}

#listing-loader {
  display:none;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
}

#listing-loader.active {
  display:flex;
}

#listing-loader span {
  color: #e61a3f;
  font-size: 20pt;
  animation-name: rotateElement;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

/**Special responsive behaviour*/
@media (min-width: 480px) { /*Tablets*/
  .listing-filter.overlay {
    width: 85%;
  }
}

@media (min-width: 480px) and (min-height: 768px) {
  .listing {
    display:block;
  }
}

@media (min-width: 768px) {
  .listing-viewport {
    position: absolute;
    width: 100%;
    top: 75pt;
    bottom: 0;
  }
}

@media (min-width: 768px) and (min-height: 768px)  { /*Large Tablet*/
  .listing {
    display:block;
  }
}
@media (min-width: 992px) { /*Large Tablet*/
  .level-down {
    width: 60%;
  }
  .slide-away .main-viewport {
    left: 60%;
  }

}
@media (min-width: 1200px) { /*XXL Desktops*/

}
