<form
id="listing-create-sellitem-form"
novalidate
[formGroup]="form"
(ngSubmit)="submit()">
  <div class="form-group">
    <form-element-title></form-element-title>
    <form-element-description></form-element-description>
    <form-element-price></form-element-price>
    <form-element-image></form-element-image>
    <button
    type="button"
    name="button"
    (click) = "submit()"
    class="btn btn-primary"
    [disabled]="form.invalid">
      Gegenstandsverkaufsinserat erstellen
    </button>
  </div>
</form>
