<div class="listing-detail-header sale-offer">
  <h1>Biete Verkauf</h1>
</div>
<div class="container listing-detail-body">
  <div class="row">
    <div class="col-xs-12 col-md-6 listing-detail-column">
      <view-detail-image></view-detail-image>
      <view-detail-price></view-detail-price>
      <view-detail-creator></view-detail-creator>
      <div class="container-fluid listing-title-cta-container">
        <div class="row">
          <div class="col-xs-12 col-md-8 listing-title-column title-cta-col">
            <view-detail-title></view-detail-title>
          </div>
          <div class="col-xs-12 col-md-4 listing-cta-column title-cta-col">
            <div class="container-fluid action-buttons-container">
              <div class="row">
                <div class="col-xs-6 col-md-12 action-buttons-column">
                  <div class="cta-element listing-favourite">
                    <view-detail-favourite></view-detail-favourite>
                  </div>
                </div>
                <div class="col-xs-6 col-md-12 action-buttons-column">
                  <div class="cta-element listing-cta">
                    <view-detail-call-to-action [action]="'Kaufanfrage'" [listingIcon]="listingIcon"></view-detail-call-to-action>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 listing-detail-column">
      <view-detail-description></view-detail-description>
    </div>
  </div>
</div>
