<form
id="listing-create-sellitem-form"
novalidate
[formGroup]="form"
(ngSubmit)="submit()" class="listing-form">
<div class="form-title">
  <h1>Biete / Verkauf</h1>
</div>
<div class="container-fluid form-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <form-element-image></form-element-image>
        <form-element-title></form-element-title>
        <form-element-description></form-element-description>
        <form-element-price></form-element-price>
        <form-element-condition></form-element-condition>
        <form-element-expiry-date></form-element-expiry-date>
        <button
        type="button"
        name="button"
        (click) = "submit()"
        class="btn btn-primary"
        [disabled]="form.invalid">
        Verkaufsinserat {{formStateText}}
      </button>
    </div>
  </div>
</div>
</div>
</form>
