.user-profile-wrapper {
  padding: 2em 0;
  background-color: #F4FAFF;
}

.user-profile-container {
  display: table;
  width: 50%;
  margin: 0 auto;
}

.user-profile-data {
  padding: 3em;
  color: #57585A;
}

.user-profile-image img {
  width:auto;
  height: 100%;
  border-radius: 3% 0 0 3%
}

.user-data-column {
  background-color: #fff;
  border-radius: 0% 3% 3% 0%;
}

.own-listings-container {
  display: table;
  border: 1px solid #b2b2b2;
}

.listing-row {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #b2b2b2;
}

.listing-title {
  margin-bottom: 2em;
}

.listing-title h3 {
  margin-top: 1em;
  text-align: left;
}

.status-active {
  color: #7EE081;
}

.status-inactive {
  color: #EF6461;
}

.stats {
  margin:0;
}
