.user-profile-wrapper {
  padding-bottom: 50px;
}

.user-profile-image {
  padding: 5pt;
  border: 1px solid #b2b2b2;
}

.user-profile-image img {
  width: 100%;
  height: auto;
  }

.user-data-list,
.listing-data {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-profile-name h2 {
text-transform: uppercase;
font-size: 15pt;
font-weight: bold;
margin-top: 10pt;
}

.listing-row {
  padding: 5pt;
  background-color: #F4FAFF;
  border: 1px solid #b2b2b2;
  margin-bottom: 10pt;
}

.sub-heading {
  text-align: left;
  margin-bottom: 5pt;
}

.status-inactive {
  color: #EF6461;
}

.status-active {
  color: #7EE081;
}

.stats {
  margin: 0;
}

.listing-actions {
  margin: 1em 0;
}

.listing-action {
  margin: 5pt 0;
}

@media (min-width: 768px) {
  .user-profile-wrapper {
    padding-bottom: 0;
  }
}
