.image-box {
  position: relative;
  display: inline;
  background-color: white;
  color: blue;
  outline: 2px dashed black;
  outline-offset: +2px;
}
.image-box-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.is-dragover {
  background: grey;
}
