<div [formGroup]="form">
<!-- <div class="input-group uploader">
  <span>Bild</span>
  <img [src]="imagesrc">
  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
  <input type="file"
  name="image"

  aria-label="Bild"
  (change)="submitImage($event)"
  accept="image/*">
</div> -->
<div class="input-group">
  <div class="image-box">
    <input type="file" name="image" class="image-box-input" accept="image/*">
    <label for="file">Lege ein Bild ab!</label>
    <div id="file-input-image">

    </div>
    <!-- <img [src]="imagesrc" alt=""> -->
  </div>
</div>
</div>
