.image-box {
  position: relative;
  display: inline;
  background-color: white;
  outline: none;
  outline-offset: +2px;
}

.image-input-container {
  display: none;
  background-color: #fff; 
}

.image-input-container.active {
  display: block;
}

.image-box label {
  cursor: pointer;
  font-size: 14pt;
  font-weight:100;
  color: ##175DA9;
  background-color: #fff;
  margin: 10pt 0;
  text-align: center;
  padding: 35pt;
  border: 1px dashed #175DA9;
  display: inline-block;
  transition: all 0.35s linear;
}

.image-box label:hover,
.image-box.is-dragover label {
  color: #fff;
  border-color: #fff;
  background-color: #7294B2;
}

.image-box-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.result-image-container {
  display:none;
}

.result-image-container.active {
  display:block;
}

.result-image {
  width:300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upload-image-result {
  width: 100%;
  height: auto;
}

.is-dragover {
  background: grey;
}
