<div [formGroup]="form">
<!-- <div class="input-group uploader">
  <span>Bild</span>
  <img [src]="imagesrc">
  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
  <input type="file"
  name="image"

  aria-label="Bild"
  (change)="submitImage($event)"
  accept="image/*">
</div> -->
<div class="input-group" id="main-image-upload">
  <div class="image-box">
    <input id="image-input" type="file" name="file" class="image-box-input" accept="image/*" (change)="input($event)">
    <label for="image-input">Klick hier oder lege ein Bild ab!</label>
    <!-- LOADING PREVIEW HERE -->
    <div id="file-input-image" class="result-image"></div>
  </div>
</div>
</div>
