<div [formGroup]="form">
  <div class="input-group" id="main-image-upload">
    <div class="image-box">
      <input id="image-input" type="file" name="file" class="image-box-input" accept="image/*" (change)="input($event)">
      <div class="image-input-container active">
        <label for="image-input" id="image-dropper">
          <span class="glyphicon glyphicon-camera"></span>
          <p>Hier klicken oder Bild ablegen.</p>
        </label>
      </div>
    </div>
  </div>
  <!-- LOADING PREVIEW HERE -->
  <div class="result-image-container">
      <div id="file-input-image" class="result-image"></div>
      <div id="crop-container" class="cropper"></div>
      <div class="image-controls-wrapper">
        <div id="zoom-container" class="zoomer">
          <input type="range" id="zoom-range" (change)="zoomImage()" (input)="zoomImage()" />
        </div>
        <div id="positioning-container" class="positions-container">
          <ul class="positons">
            <li><span class="glyphicon glyphicon-circle-arrow-up" (click)="moveImage('up')" title="Bild hoch bewegen."></span></li>
            <li><span class="glyphicon glyphicon-circle-arrow-down" (click)="moveImage('down')" title="Bild runter bewegen."></span></li>
            <li><span class="glyphicon glyphicon-circle-arrow-left" (click)="moveImage('left')" title="Bild links bewegen."></span></li>
            <li><span class="glyphicon glyphicon-circle-arrow-right" (click)="moveImage('right')" title="Bild rechts bewegen."></span></li>
          </ul>
        </div>
        <div id="reset-image-container" class="reset-image-position">
          <span class="glyphicon glyphicon-refresh" (click)="resetImagePosition()" title="Bildposition zurücksetzen."></span>
        </div>
        <div class="remove-image-container">
          <span class="glyphicon glyphicon-trash" (click)="removeImage()" title="Bild entfernen."></span>
        </div>

      </div>


  </div>
</div>
