/**
* Controls the displays for all listing-relevant pages
*/
.listing-viewport {
  position: relative;
  width:100%;
  overflow: hidden;
}

.listing-container-wrapper {
  overflow:auto;
  white-space: nowrap;
  transition: left 0.35s ease;
}


/*HIDING HORIZONAL SCROLLBARS IS TRICKY*/
.listing-container-wrapper::-webkit-scrollbar  {/*ALL WEBKIT BROWSERS...*/
display:none;
}

@-moz-document url-prefix() { /*..IN FIREFOX...*/
    .listing-container-wrapper {
        margin-bottom: -16px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {/*...IE10 & IE11...*/
  .listing-container-wrapper {
      margin-bottom: -17px;
  }
}

@supports (-ms-accelerator:true) { /*... MS EDGE UPTO 12...*/
  .listing-container-wrapper {
      margin-bottom: -16px;
  }
}

@supports (-ms-ime-align:auto) { /*...MS EDGE POST VERSION 12*/
  .listing-container-wrapper {
      margin-bottom: -16px;
  }
}



.listing-container {
  display: inline-block;
  white-space: nowrap;
}

.listing-container-inner {
  display: inline-block;
}

/**SCROLL ICONS*/
.listing-scroll-control {
  padding: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  top:0;
  position: absolute;
  height:100%;
  cursor: pointer;
}

.listing-scroll-control span {
  color: #000000;
}

.listing-scroll-control.hidden {
  display:none;
}
.listing-scroll-control:hover {

}

.listing-scroll-control.backward {
  left: 0;
}

.listing-scroll-control.forward {
  right: 0;
}

/**TABLET SETTINGS*/
@media (min-width: 480px) {
  .listing-container {
    white-space: normal;
  }
  .listing-container-inner {
    display: block;
  }
}
