<form
novalidate
[formGroup]="form"
(ngSubmit)="submit()" class="listing-form">

<div class="form-title">
  <h1>Inserat {{formStateText}}: Biete / Mitfahrgelegenheit</h1>
  <div class="form-title-controls">
    <div class="navigation back" title="Zurück" (click)="returnForm()"></div>
    <div class="navigation exit" title="Abbrechen" (click)="closeForm()"></div>
  </div>
</div>

<div class="form-group">
  <form-element-title></form-element-title>
  <form-element-description></form-element-description>
  <form-element-location-from></form-element-location-from>
  <form-element-journey-stops></form-element-journey-stops>>
  <form-element-location-to></form-element-location-to>
  <form-element-available-seats></form-element-available-seats>
  <form-element-travel-date-and-time></form-element-travel-date-and-time>
  <form-element-expiry-date></form-element-expiry-date>
  <button
  type="button"
  name="button"
  (click) = "submit()"
  class="btn btn-primary"
  [disabled]="form.invalid">
  Mitfahrgelegenheit {{formStateText}}
</button>
</div>
</form>
