/**BOOTSTRAP OVERRIDES*/
div.container-fluid::before, div.container-fluid::after,
div.bit-header::before, div.bit-header::after { /*HEADER ITEMS TO GO TO THE EDGE OF THE SCREEN*/
  content: none;
}

.navbar-default {
  background: transparent;
}

.navbar-toggle {
  position: absolute;
  right: 0;
}

.user-actions {
  position: fixed;
  height: 40pt;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 0 15px;
}

.logo-container img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

.header-search-bar {
  margin:0;
  width:100%;
}

.header-search-bar input {
  background-color: transparent;
  box-shadow: none;
  border-color: #58585a transparent #58585a #58585a;
  border-radius: 0;
  color: #58585a;
  font-weight: bold;
}

.header-search-bar input:focus {
  box-shadow: none;
}

.header-search-bar .input-group-btn button {
  background: none;
  border-color: #58585a #58585a #58585a transparent;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;
}

.logo-menu-container {
  margin: 1em 0;
}

.menu-icon-container button {
  margin: 0;
}

.icon-menu .icon {
  color: #8a8a88;
  font-size: 16pt;
  transition: color 0.35s linear;
}

.icon-menu .icon:hover {
  color: #61615f;
}

/*TABLET SETTINGS*/
@media only screen and (min-width : 768px) {
  .row {
    width:100%;
  }

  .logo-container img {
    max-width: 190px;
  }
  .user-actions {
    position: relative;
    padding: auto;
  }
  .logo-menu-container {
    margin: 0;
  }
  .icon-menu a {
    /*padding: 10px 8px*/
  }

  .icon-menu .icon {
    /*font-size: 12pt;*/
  }
}

/**DESKTOP SETTINGS*/
@media only screen and (min-width : 992px) {
  .header-nav {
    display: flex;
    align-items: center;
    height: 70pt;
  }

  .icon-menu a {
    padding: 10px 15px
  }

  .icon-menu .icon {
    font-size: 16pt;
  }
}

/**DESKTOP SETTINGS*/
@media only screen and (min-width : 1200px) {
  .bit-header {
    width: 700px;
  }
  .bit-nav {
    width: 460px;
    float:right;
  }
  .logo-column {
    width: 190px;
  }
  .user-action-column {
    width: 480px;
  }

}
