<!--  BOF NAVBAR -->
<nav class="navbar" *ngIf="userService.authenticated" id="header">
  <div class="container-fluid header-nav">
    <div class="navbar-header navbar-left bit-header">
      <div class="logo-container">
        <a class="navbar-brand logo-link" routerLink="/home"><img src="./assets/images/bit-ka-logo.png" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bitNavbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
      </div>
      <div class="user-actions">
        <form class="navbar-form navbar-left">
          <div class="input-group header-search-bar">
            <input type="text" class="form-control" (change)="search($event)">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="icon search"></i>
              </button>
            </div>
          </div>
        </form>
        <button class="btn btn-listing btn-create navbar-btn" (click)="create()" routerLink="/create/sellitem">
          Inserat Erstellen
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse navbar-icon-links-container" id="bitNavbar">
      <!-- BOF ICON MENU [WILL BE REPLACED WITH CUSTOM LOGOS!]-->
      <ul class="nav navbar-nav navbar-right icon-menu">
        <li><a title="Filter"><span class="icon filter" (click)="activateListingFilter()"></span></a></li>
        <li><a href="#" title="Meine Merkliste" routerLink="user/favourites"><span class="icon favourite"></span></a></li>
        <li><a href="#" title="Mein Profil" routerLink="user/profil"><span class="icon account"></span></a></li>
        <li><a href="#" routerLink="user/login" (click)="logout()" title="Logoff"><span class="icon logout"></span></a></li>
      </ul>
      <!-- EOF ICON MENU -->
    </div>
  </div><!-- /.container-fluid -->
</nav>
<!-- EOF NAVBAR -->
