<div class="profile-detail-container container-fluid" *ngIf="isDataAvailable">
  <div class="row">
    <div class="col-xs-3 profile-data-column">
      <img src="{{creator.userImage}}" />
    </div>
    <div class="col-xs-12 col-md-9 profile-data-column">
      <div class="profile-data name">
        <h3>{{creator.firstName}} {{creator.lastName}}</h3>
      </div>
      <div class="profile-data user-location">
        <p>Ort: {{creator.location}}</p>
      </div>
      <div class="profile-data create-date">
        <p>Erstelldatum: {{getTimeStringFromUnixTime(model.createDate)}}</p>
      </div>
      <div class="profile-data listing-id">
        <p>Anzeigenummer: {{model.id}}</p>
      </div>
      <div class="profile-data expires-on">
        <p>Ablaufdatum: {{getTimeStringFromUnixTime(model.expiryDate)}}</p>
      </div>
    </div>
  </div>
</div>
