.profile-data-column {
  padding: 10pt 10pt 10pt 0;
}

.profile-data-column img {
  width: 100%;
  height: auto;
}

.profile-data h3 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.profile-data p {
  margin:0;
}
