.reoccurence-container {
  margin: 1em 0;
}

.column {
  padding: 0;
}

.column select {
  margin-right: 5pt;
}

.reoccurence-container .input-group {
  margin:0;
}

.reoccurence-label {
  color: #57585A;
}
