<div class="date-time-wrapper" [formGroup]="form" *ngIf="isModelAvailable && isInputAvailable">

  <div class="container-fluid date-time-container">
    <div class="row">
      <div class="col-xs-2 column">
        <span class="date-label">{{dateAndTimePropertyDisplayText}}</span>
      </div>
      <div class="col-xs-10 column">
        <div class="input-group">
          <select [(ngModel)]="day" [formControlName]="dayControlName" (change)="addDateAndTimeToModel()">
            <option [value]="day" *ngFor="let day of days">{{day}}</option>
          </select>
          <select [(ngModel)]="month" [formControlName]="monthControlName" (change)="addDateAndTimeToModel()">
            <option [value]="month" *ngFor="let month of months">{{month}}</option>
          </select>
          <select [(ngModel)]="year" [formControlName]="yearControlName" (change)="addDateAndTimeToModel()">
            <option [value]="year" *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid date-time-container">
    <div class="row">
      <div class="col-xs-2 column">
        <span class="expiry-date-label">Uhrzeit</span>
      </div>
      <div class="col-xs-10 column">
        <div class="input-group">
          <select [(ngModel)]="hour" [formControlName]="hourControlName" (change)="addDateAndTimeToModel()">
            <option [value]="hour" *ngFor="let hour of hours">{{hour}}</option>
          </select>
          <select [(ngModel)]="minute" [formControlName]="minuteControlName" (change)="addDateAndTimeToModel()">
            <option [value]="minute" *ngFor="let minute of minutes">{{minute}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  </div>
