<div [formGroup]="form" *ngIf="isModelAvailable && isInputAvailable">
  <div class="input-group">
    <span class="date-overlay">{{dateAndTimePropertyDisplayText}} </span>
    <select [(ngModel)]="day" name="day" formControlName="day" (change)="addDateAndTimeToModel()">
      <option [value]="day" *ngFor="let day of days">{{day}}</option>
    </select>
    <select [(ngModel)]="month" name="month" formControlName="month" (change)="addDateAndTimeToModel()">
      <option [value]="month" *ngFor="let month of months">{{month}}</option>
    </select>
    <select [(ngModel)]="year" name="year" formControlName="year" (change)="addDateAndTimeToModel()">
      <option [value]="year" *ngFor="let year of years">{{year}}</option>
    </select>
    <select [(ngModel)]="hour" name="hour" formControlName="hour" (change)="addDateAndTimeToModel()">
      <option [value]="hour" *ngFor="let hour of hours">{{hour}}</option>
    </select>
    <select [(ngModel)]="minute" name="minute" formControlName="minute" (change)="addDateAndTimeToModel()">
      <option [value]="minute" *ngFor="let minute of minutes">{{minute}}</option>
    </select>
  </div>
</div>
