.listing-preview-title a {
  color: #58585a;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.25s linear;
  font-size: 15pt;
  white-space: normal;
  display: block;
  margin-top: 10pt;
}

.listing-preview-title a:hover,
.listing-preview-title a:focus {
  color: #818183;
  text-decoration: none;
}
