<div class="listing-preview" (click)="displayListingDetail()">
  <div class="listing-header rideshare-request">
    <p>Gesuch / Mitfahrgelegenheit</p> <!-- Requires dynamic population -->
  </div>
  <div class="listing-image rideshare-request-50">
    <div class="fallback-icon">
      <span class="icon listing-rideshare"></span>
    </div>
  </div>
  <div class="listing-heading">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-travel-date-and-time></view-preview-travel-date-and-time>
  </div>
  <div class="listing-footer">
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
