<div class="listing-preview">
  <div class="listing-header rideshare-request" (click)="displayListingDetail()">
    <p>Gesuch / Mitfahrgelegenheit</p>
  </div>
  <div class="listing-image rideshare-request-50" (click)="displayListingDetail()">
    <div class="fallback-icon">
      <span class="icon listing-rideshare"></span>
    </div>
  </div>
  <div class="listing-heading" (click)="displayListingDetail()">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-travel-date-and-time></view-preview-travel-date-and-time>
  </div>
  <div class="listing-footer">
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
