<div class="listing-detail-header rideshare-request">
  <h1>Suche / Mitfahrgelegenheit</h1>
  <view-detail-close></view-detail-close>
</div>

<div class="listing-image-plug rideshare-request-50">
  <div class="fallback-image">
    <img src="./assets/images/fallback.png" />
    <div class="fallback-icon">
      <span class="icon listing-rideshare"></span>
    </div>
  </div>
</div>

<div class="container-fluid listing-detail-body">
  <div class="row">
    <div class="col-xs-12 listing-detail-column">
      <view-detail-creator></view-detail-creator>
      <div class="container-fluid listing-title-cta-container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 listing-title-column title-cta-col">
            <view-detail-title></view-detail-title>
            <view-detail-location-from></view-detail-location-from>
            <view-detail-location-to></view-detail-location-to>
            <view-detail-travel-date-and-time></view-detail-travel-date-and-time>
          </div>
          <div class="col-xs-12 col-sm-4 listing-cta-column title-cta-col">
            <div class="container-fluid action-buttons-container">
              <div class="row">
                <div class="col-xs-6 col-sm-12 action-buttons-column">
                  <div class="cta-element listing-favourite">
                    <view-detail-favourite></view-detail-favourite>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-12 action-buttons-column">
                  <div class="cta-element listing-cta">
                    <view-detail-call-to-action [action]="'Anfragen'" [listingIcon]="listingIcon"></view-detail-call-to-action>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 listing-detail-column">
      <view-detail-description></view-detail-description>
    </div>
  </div>
</div>
