<section id="login-form-section" class="login-form-wrapper login-form">
  <div class="form-container jumbotron">
    <form id="login-form"
    novalidate
    [formGroup]="form"
    (ngSubmit)="authenticate()">
      <div class="form-group">
        <div class="form-title">
          <h2>Login</h2>
        </div>
        <div class="input-group"><!-- Überschrift form element -->
          <span>Benutzername</span>
          <input type="text"
          name="username"
          [(ngModel)]="user.username"
          formControlName="username"
          class="form-control"
          aria-label="Benuternameeingabe">
        </div>
        <div class="input-group"><!-- Verkaufspreis form element -->
          <span>Kennwort</span>
          <input type="password"
          name="password"
          [(ngModel)]="user.password"
          formControlName="password"
          class="form-control"
          aria-label="Kennworteingabe">
        </div>
        <button type="submit"
        [disabled]="formSubmitted || form.invalid"
        class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
  <button type="button" class="btn btn-danger" name="button" (click)="logout()">Logout</button>
</section>
