<div class="bit-logo"><img src="./assets/images/bit-ka-logo.png"/></div>
<section id="login-form-section" class="login-form-wrapper">
  <div class="form-container">
    <form id="login-form" class="login-form"
    novalidate
    [formGroup]="form"
    (ngSubmit)="authenticate()">
      <div class="form-group">
        <div class="form-title">
          <h2>Login</h2>
        </div>
        <div class="input-group"><!-- Überschrift form element -->
          <span>Benutzername</span>
          <input type="text"
          name="username"
          [(ngModel)]="user.username"
          formControlName="username"
          class="form-control"
          aria-label="Benuternameeingabe">
        </div>
        <div class="input-group"><!-- Verkaufspreis form element -->
          <span>Kennwort</span>
          <input type="password"
          name="password"
          [(ngModel)]="user.password"
          formControlName="password"
          class="form-control"
          aria-label="Kennworteingabe">
        </div>
        <button type="button"
        [disabled]="formSubmitted || form.invalid"
        class="btn btn-primary"
        (click)="authenticate()">Login</button>
      </div>
    </form>
  </div>
</section>
