.bit-logo {
  margin:10pt 0;
  width: 100%;
  text-align: center;
}

.bit-logo img {
  width:30%;
  height: auto;
  vertical-align: baseline;
}

.login-form-wrapper {
display: flex;
width: 100%;
align-items: center;
justify-content: space-around;
}
.form-container {
background-color: #e61a3f;
color: #fff;
padding: 35pt 35pt;
display: table;
}

.login-form {
  display: table-cell;
}
