<div class="" *ngIf="isDataAvailable">
  <div class="listing-detail-description">
    <h2 data-toggle="collapse" data-target="#listing-description" class="toggle-title">Beschreibung <span class="glyphicon"></span></h2>
    <div id="listing-description" class="listing-description collapse in">
      <p>{{model.description}}</p>
    </div>
  </div>

  <div class="listing-detail-comments">
    <h2 data-toggle="collapse" data-target="#listing-comments" class="toggle-title collapsed">Kommentare <span class="glyphicon"></span></h2>
    <div class="listing-comments collapse"  id="listing-comments" [formGroup]="form">
      <div class="listing-detail-comment" *ngFor="let comment of model.comments">
        <div class="comment container-fluid">
          <div class="row">
            <div class="col-xs-2 comment-column comment-image-column">
              <img src="{{comment.userImage}}" />
            </div>
            <div class="col-xs-10 comment-column comment-message-column">
              <div class="comment-info">
                <p>Am {{getTimeFromUnixTime(comment.createDate)}}: </p>
                <!-- <p>{{user.firstName}} schrieb:</p> -->
              </div>
              <p>{{comment.message}}</p>
              <span
              class="icon exit comment-delete"
              title="Kommentar löschen"
              (click)="removeComment(comment.commentId)"
              *ngIf="comment.userID === userService.userInformation.userID"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="listing-submit-comment">
        <textarea
        name="name"
        rows="3"
        [(ngModel)]="commentText"
        formControlName="comment"
        placeholder="Gebe ein Kommentar ein"
        ></textarea>
        <button
        type="button"
        name="button"
        class="btn btn-listing"
        (click)="addCommment()"
        [disabled]="commentText.length === 0">
        <span class="icon send"></span> Abschicken
      </button>
      </div>

    </div>
  </div>
