
.listing-filter-content {
  color: #fff;
  text-transform: uppercase;
}

.listing-filter-content h1 {
  margin: 1em 0 2em 0;
  font-size: 15pt;
}
.listing-filter-content h2 {
  font-size: 12pt;
  font-weight: bold;
  margin: 1em 0;
}
.listing-filter-content h3 {
  font-size: 10pt;
  text-align: right;
  padding: 5pt;
  cursor: pointer;
}

span.close-filter {
  color: #fff;
}
