<h1>Kategorien</h1>
<filter-list
[filterPropertyName]="'type'"
[filterListItems]="lisitingTypes"
(filterChanged)="filterChanged()"
[selectAll]="selectAllTypes"
></filter-list>
<h1>INSERAT ARTEN</h1>
<filter-list
[filterPropertyName]="'kind'"
[filterListItems]="listingKinds"
(filterChanged)="filterChanged()"
[mutuallyExclusive]="true"
></filter-list>
<h1>STANDORT</h1>
<filter-list
[filterPropertyName]="'location'"
[filterListItems]="loactionList"
(filterChanged)="filterChanged()"
[selectAll]="'Alle Standorte auswählen'"
></filter-list>
<h3 (click)="closeFilterOverlay()">Filter Schließen</h3>
