<div class="listing-filter-content">
  <div class="filter-header container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <h1><span class="icon filter"></span> Filter</h1>
      </div>
      <div class="col-xs-4">
        <h3 (click)="closeFilter()"><span class="icon exit close-filter"></span> Filter Schließen</h3>
      </div>
    </div>
  </div>
  <div class="filter-body container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 filter-categories-column">
        <h2>Kategorien</h2>
        <filter-list
        [filterPropertyName]="'type'"
        [filterListItems]="lisitingTypes"
        (filterChanged)="filterChanged()"
        ></filter-list>
      </div>
      <div class="col-xs-12 col-sm-6 filter-kinds-coloumn">
        <h2>Inserat Arten</h2>
        <filter-list
        [filterPropertyName]="'kind'"
        [filterListItems]="listingKinds"
        (filterChanged)="filterChanged()"
        [mutuallyExclusive]="true"
        ></filter-list>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 filter-google-column">
        <h2>Standort</h2>
        <filter-google-maps
        (filterChanged)="filterChanged()">
        </filter-google-maps>
      </div>
    </div>
  </div>
</div>
