<div [formGroup]="form" *ngIf="isModelAvailable && isInputAvailable">
  <div class="container-fluid date-container">
    <div class="row">
      <div class="col-xs-3 column">
        <span class="date-label">{{datePropertyDisplay}}</span>
      </div>
      <div class="col-xs-9 column">
        <div class="input-group">
          <select [(ngModel)]="day" [formControlName]="dayControlName" (change)="addDateToModel()">
            <option [value]="day" *ngFor="let day of days">{{day}}</option>
          </select>
          <select [(ngModel)]="month" [formControlName]="monthControlName" (change)="addDateToModel()">
            <option [value]="month" *ngFor="let month of months">{{month}}</option>
          </select>
          <select [(ngModel)]="year" [formControlName]="yearControlName" (change)="addDateToModel()">
            <option [value]="year" *ngFor="let year of years">{{year}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
