/**
FORMS CSS-File for bIT Kleinanzeigen
Author: R. Vladimirskij
Team: Prime Tree

Controls/Overwrites all form displays for the bIT Kleinanzeigen web-application.
*/

/*
 * BS-OVERRIDES
 */

 .navbar-form {
   padding-top: 0;
   padding-left: 0;
 }

/**GENERAL FORM SETTINGS*/
.listing-form {
  display: table;
  width:90%;
  margin: 2em auto;
  background-color: #FFF8F0;
  border: 1px solid #ccc;
}

.form-title {
  position: relative;
  padding: 5pt 0;
  background-color: #CA5F05;
}
.form-title h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 18px;
  margin: 0;
}

.form-group {
  padding: 1em;
  display: table;
  width: 90%;
  margin: 0 auto;
}

/**FORM ELEMENTS AND INPUTS*/
.input-group {
  margin: 10pt 0;
  width: 100%;
}

input.form-control,
textarea.form-control {
  border-radius: 0px;
  background-color: #d8d7d7;
  border-color: transparent;
  font-weight: bold;
  color: #7f8286;
  /**Override the BS box-glow*/
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: #7f8286;
  background-color: #fff;
}

textarea.form-control {
  font-weight: normal;
}

/**SUBMIT*/
.submit-button {
  padding: 1em 0;
  text-align: center;
}

@media (min-width: 768px) {

}
