/**
GLOBAL CSS-FILE FOR bIT Kleinanzeigen
Author: R. Vladimirskij
Team: Prime Tree

The following css-file contains all app-wide settings for the bit Kleinanzeigen
Web-application
*/

/**Listing colours -> Managing the colour behaviour for the different listing types*/

/*
 * BOOTSTRAP OVERRIDES
 */

 .column {/*Remove paddings from col-XX-XX elements*/
   padding: 0;
 }

 /*
 * Row with equal height columns
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.row-vert-align {
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/*
 * SALE OFFER
 */
.sale-offer,
.sale-offer:before {
  background-color: #CA5F05!important;
}
.sale-offer-75 {
  background-color: #d78743;
}
.sale-offer-50 {
  background-color: #e4af82;
}
.sale-offer-25 {
  background-color: #f1d7c1;
}
/*Corner of post-it*/
.sale-offer.listing-create:after {
  border-left-color: #e4af82!important;
  border-top-color: #e4af82!important;
}
/*Post-it hover effect*/
.listing-create-wrapper:hover .sale-offer.listing-create,
.listing-create-wrapper:hover .sale-offer.listing-create:before {
  background-color: #d78743!important;
}

/*
 * SERVICE OFFER
 */
.service-offer,
.service-offer:before {
  background-color: #B92784!important;
}
.service-offer-75 {
  background-color: #ca5da2;
}
.service-offer-50 {
  background-color: #dc93c1;
}
.service-offer-25 {
  background-color: #edc9e0;
}
/*Corner of post-it*/
.service-offer.listing-create:after {
  border-left-color: #dc93c1!important;
  border-top-color: #dc93c1!important;
}
/*Post-it hover effect*/
.listing-create-wrapper:hover .service-offer.listing-create,
.listing-create-wrapper:hover .service-offer.listing-create:before {
  background-color: #ca5da2!important;
}

/*
 * RIDESHARE OFFER
 */
.rideshare-offer,
.rideshare-offer:before {
  background-color: #8d749a!important;
}
.rideshare-offer-75 {
  background-color: #ca5da2;
}
.rideshare-offer-50 {
  background-color: #b3a2bc;
}
.rideshare-offer-25 {
    background-color: #e2dce6;
}
/*Corner of post-it*/
.rideshare-offer.listing-create:after {
  border-left-color: #b3a2bc!important;
  border-top-color: #b3a2bc!important;
}
/*Post-it hover effect*/
.listing-create-wrapper:hover .rideshare-offer.listing-create,
.listing-create-wrapper:hover .rideshare-offer.listing-create:before {
  background-color: #8d749a!important;
}

/*
 * PURCHASE REQUEST
 */
.purchase-request,
.purchase-request:before {
  background-color: #d78743!important;
}
.purchase-request-75 {
  background-color: #e1a572;
}
.purchase-request-50 {
  background-color: #ebc3a1;
}
.purchase-request-25 {
    background-color: #f5e1d0;
}

/*Corner of post-it*/
.purchase-request.listing-create:after {
  border-left-color: #ebc3a1!important;
  border-top-color: #ebc3a1!important;
}

/*Post-it hover effect*/
.listing-create-wrapper:hover .purchase-request.listing-create,
.listing-create-wrapper:hover .purchase-request.listing-create:before {
  background-color: #e1a572!important;
}

/*
 * RECREATION REQUEST
 */
 .recreation-request,
 .recreation-request:before {
   background-color: #20843c!important;
 }
 .recreation-request-75 {
   background-color: #57a26c;
 }
 .recreation-request-50 {
   background-color: #8fc19d;
 }
 .recreation-request-25 {
     background-color: #c7e0ce;
 }

 /*Corner of post-it*/
 .recreation-request.listing-create:after {
   border-left-color: #8fc19d!important;
   border-top-color: #8fc19d!important;
 }

 /*Post-it hover effect*/
 .listing-create-wrapper:hover .recreation-request.listing-create,
 .listing-create-wrapper:hover .recreation-request.listing-create:before {
   background-color: #57a26c!important;
 }

 /*
  * BORROW REQUEST
  */
  .borrow-request,
  .borrow-request:before {
    background-color: #005a7d!important;
  }
  .borrow-request-75 {
    background-color: #40839d;
  }
  .borrow-request-50 {
    background-color: #80acbe;
  }
  .borrow-request-25 {
      background-color: #c0d6de;
  }

  /*Corner of post-it*/
  .borrow-request.listing-create:after {
    border-left-color: #80acbe!important;
    border-top-color: #80acbe!important;
  }

  /*Post-it hover effect*/
  .listing-create-wrapper:hover .borrow-request.listing-create,
  .listing-create-wrapper:hover .borrow-request.listing-create:before {
    background-color: #40839d!important;
  }

  /*
   * RIDESHARE REQUEST
   */
   .rideshare-request,
   .rideshare-request:before {
     background-color: #b0a7d1!important;
   }
   .rideshare-request-75 {
     background-color: #c3bddc;
   }
   .rideshare-request-50 {
     background-color: #d7d3e8;
   }
   .rideshare-request-25 {
       background-color: #ebe9f3;
   }

   /*Corner of post-it*/
   .rideshare-request.listing-create:after {
     border-left-color: #d7d3e8!important;
     border-top-color: #d7d3e8!important;
   }

   /*Post-it hover effect*/
   .listing-create-wrapper:hover .rideshare-request.listing-create,
   .listing-create-wrapper:hover .rideshare-request.listing-create:before {
     background-color: #c3bddc!important;
   }

   /*
    * SERVICE REQUEST
    */
    .service-request,
    .service-request:before {
      background-color: #e296c3!important;
    }
    .service-request-75 {
      background-color: #e9b0d2;
    }
    .service-request-50 {
      background-color: #f0cae1;
    }
    .service-request-25 {
        background-color: #f7e5f0;
    }

    /*Corner of post-it*/
    .service-request.listing-create:after {
      border-left-color: #f0cae1!important;
      border-top-color: #f0cae1!important;
    }

    /*Post-it hover effect*/
    .listing-create-wrapper:hover .service-request.listing-create,
    .listing-create-wrapper:hover .service-request.listing-create:before {
      background-color: #e9b0d2!important;
    }

/*
 * USE THIS FOR TYPES THAT HAVEN'T BEEN SET YET
 */
.standard {
  background-color: #D5D6D8!important;
}

/**CUSTOM ICONS FOR bIT Kleinanzeigen*/
@font-face {
  font-family: 'bit';
  src:  url('../assets/icons/bit.eot?4mx7vx');
  src:  url('../assets/icons/bit.eot?4mx7vx#iefix') format('embedded-opentype'),
    url('../assets/icons/bit.ttf?4mx7vx') format('truetype'),
    url('../assets/icons/bit.woff?4mx7vx') format('woff'),
    url('../assets/icons/bit.svg?4mx7vx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon"], [class*=" icon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bit' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.listing-rideshare:before {
  content: "\e900";
}
.send:before {
  content: "\e901";
}
.dashboard:before {
  content: "\e902";
}
.listing-service:before {
  content: "\e903";
}
.turn-off:before {
  content: "\e904";
}
.logout:before {
  content: "\e905";
}
.location:before {
  content: "\e906";
}
.search:before {
  content: "\e907";
}
.account:before {
  content: "\e908";
}
.listing-request:before {
  content: "\e909";
}
.menu:before {
  content: "\e90b";
}
.listing-borrow:before {
  content: "\e90d";
}
.listing-sell:before {
  content: "\e90e";
}
.listing-recreation:before {
  content: "\e911";
}
.error:before {
  content: "\e913";
}
.listing-offer:before {
  content: "\e914";
}
.exit:before {
  content: '\e91b';
}
.info:before {
  content: "\e915";
}
.filter:before {
  content: "\e916";
}
.add:before {
  content: "\e917";
}
.favourite:before {
  content: "\e90a";
}
.map:before {
  content: "\e90c";
}
.success:before {
  content: "\e912";
}
.scroll-backward:before {
  content: "\e918";
}
.scroll-forward:before {
  content: "\e919";
}
.back:before {
  content: "\e91a";
}

/**HTML DOCUMENT SETTINGS*/
* {
  font-family: Verdana, Arial, Tahoma;
}

h1, h2, h3, h4, h5,
.navbar{ /**MARGIN-RESETS*/
  margin:0;
}
/**BODY SETTINGS*/
body {
  overflow:hidden;
  position: relative;
}

@media (min-width: 768px) {
  body {
    /*overflow: hidden;*/
  }
}

/**MAIN VIEWPORT SECTION*/
section {

}

/**OVERLAY*/
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 9999;
  overflow-y: auto;
}

/**TRUNCATE -> Ensure to set the width in the truncated element*/
.truncate-mobile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .truncate-mobile {
    white-space: normal; /*No mobile no*/
  }
}

/*
 * Title Types
 */
 .pompous-title {
   width:100%;
   min-height: 125px;
   margin-top: 2em;
   font-size: 25pt;
   color: #57585A;
 }

 .pompous-title h1 {
   width:100%;
   text-align: center;
 }

.page-title {
  padding: 5pt 0;
}
.page-title h1 {
  color: #57585A;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.sub-heading {
  color: #57585A;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/**Custom bIT Kleinanzeigen Button Styles*/
.navbar-btn:before {
  font-family: 'bit', Verdana;
  content: "\e917";
  padding-right: 0;
}

@media (min-width: 992px) {
  .navbar-btn:before {
    content: "Inserat Erstellen";
  }
}

.btn-listing {
  color: #242325;
  border-radius: 0;
  text-transform: uppercase;
  transition: background-color 0.25s linear;
}

.btn-listing.btn-create {
  background-color: #e5143f;
  color:#fff;
}

.btn-listing.btn-create:hover,
.btn-listing.btn-create:focus {
  background-color: #eb4e6f;

}

.btn-listing-submit {
  background-color: #175DA9;
  color: #fff;
}

.btn-listing-submit:hover,
.btn-listing-submit:focus {
  background-color: #5185be;
  color: #fff;
}

.btn-listing-submit span:before {
  margin-right: 6pt;
}

/**Empty result notifcation*/
/*Make the listing kinds appear as post-its*/
.emtpy-set-container {

}
.empty-set-wrapper {
  position: relative;
  display: table;
  width: 200px;
  height: 160px; /*Accounting for corner-clip*/
  margin: 1em auto 40px auto;
}

.empty-set  {
  display: table-cell;
  background-color: #e61a3f;
  color: #fff;
  text-align:center;
  padding: 5pt;
  transition: background-color 0.25s linear;
}

.empty-set span {
  font-size: 25pt;
  display: block;
  margin: 12pt 0;
}

.empty-set:before {
    content: "";
    width: calc(100% - 40px);
    height: 40px;
    position: absolute;
    top: 100%;
    right: 40px;
    background: #e61a3f;
    transition: background-color 0.25s linear;
}

.empty-set:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: -40px;
    position: absolute;
    top: 100%;
    left: 100%;
    border: 20px solid #f28c9f;
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
