/**
GLOBAL CSS-FILE FOR bIT Kleinanzeigen
Author: R. Vladimirskij
Team: Prime Tree

The following css-file contains all app-wide settings for the bit Kleinanzeigen
Web-application
*/

/**HTML DOCUMENT SETTINGS*/
* {
  font-family: Verdana, Arial, Tahoma;
}

h1, h2, h3, h4, h5,
.navbar{ /**MARGIN-RESETS*/
  margin:0;
}
/**BODY SETTINGS*/
body {
  overflow:hidden;
}

/**MAIN VIEWPORT SECTION*/
section {

}
