<div id="listing-viewport" class="listing-viewport" #listingViewport>
  <div class="listing-detail-view level-down" #listingDetailView>
    <listing-detail-view  [listingID]="detailListingID" #listingDetailViewComponent></listing-detail-view>
  </div>
  <div class="listing-standard-container main-viewport container-fluid">
    <div class="pompous-title">
      <h1><span class="icon favourite"></span> Meine Merkliste</h1>
    </div>
    <div class="row"></div>
    <div class="listing col-xs-12 col-sm-6 col-md-3 col-lg-4" *ngFor="let favouriteListing of favouriteListings">
      <listing-preview-placeholder
        [listing]="favouriteListing"
        (listingCreated)="updateListingCounter($event)">
      </listing-preview-placeholder>
    </div>
    <div class="empty-set-container" *ngIf="favouriteListings?.length === 0">
      <div class="empty-set-wrapper">
        <div class="empty-set">
          <span class="icon favourite"></span>
          <p>Du hast noch keine Inserate zu Deiner Merkliste hinzugefügt.</p>
        </div>
      </div>
    </div>
  </div>
</div>
