<div class="listing-preview">
  <div class="listing-header borrow-request" (click)="displayListingDetail()">
    <p>Gesuch / Ausleihe</p>
  </div>
  <div class="listing-image borrow-request-50" (click)="displayListingDetail()">
    <view-preview-image></view-preview-image>
    <div *ngIf="!listing.mainImage">
      <div class="fallback-icon">
        <span class="icon listing-borrow"></span>
      </div>
    </div>
  </div>
  <div class="listing-heading" (click)="displayListingDetail()">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-date [dateProperty]="borrowFromDate"></view-preview-date>
    <view-preview-date [dateProperty]="borrowToDate"></view-preview-date>
  </div>
  <div class="listing-footer">
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
