<div class="listing-preview" (click)="displayListingDetail()">
  <div class="listing-header borrow-request">
    <p>Gesuch / Ausleihe</p>
  </div>
  <div class="listing-image borrow-request-50">
    <view-preview-image></view-preview-image>
    <div *ngIf="!listing.mainImage">
      <div class="fallback-icon">
        <span class="icon listing-borrow"></span>
      </div>
    </div>
  </div>
  <div class="listing-heading">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-date [dateProperty]="borrowFromDate"></view-preview-date>
    <view-preview-date [dateProperty]="borrowToDate"></view-preview-date>
  </div>
  <div class="listing-footer">
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
