<div [formGroup]="form" *ngIf="isModelAvailable">
  <div class="input-group">
    <span class="condition-background">Zustand </span>
    <select
    formControlName="condition"
    class=""
    name="condition"
    [(ngModel)]="model.condition"
    formControlName="condition"
    >
      <!-- <option value="New">Neu</option>
      <option value="Used">Gebraucht</option> -->
      <option [value]="conditionOption.value" *ngFor="let conditionOption of conditionOptions">{{conditionOption.name}}</option>
    </select>
  </div>
</div>
