
  select {
    display: none;
  }

  ul {
    margin:0;
    padding: 0;
    list-style: none;
  }

  ul li {
    cursor: pointer;
  }

  ul li p {
    font-weight: bold;
  }

  ul li span {
    color: transparent;
    transition: color 0.25s linear;
  }

  ul li:hover span {
    color: #d4d2d5;
  }

  ul li p.active span {
    color: #b6dc76;
  }
