<form
[formGroup]="form"
(ngSubmit)="submit()" class="listing-form">

<div class="form-title recreation-request">
  <h1>Suche / Freizeitaktivität</h1>
</div>

<div class="container-fluid form-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <form-element-image></form-element-image>
        <form-element-title></form-element-title>
        <form-element-description></form-element-description>
        <form-element-location-activity></form-element-location-activity>
        <form-element-category></form-element-category>
        <form-element-date-and-time [dateAndTimeProperty]="startDateAndTime" [required]="true"></form-element-date-and-time>
        <form-element-date-and-time [dateAndTimeProperty]="endDateAndTime"></form-element-date-and-time>
        <form-element-reoccurence></form-element-reoccurence>
        <form-element-expiry-date></form-element-expiry-date>
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 submit-button">
              <button
              type="button"
              name="button"
              (click) = "submit()"
              class="btn btn-listing btn-listing-submit"
              [disabled]="form.invalid">
              <span class="icon listing-recreation"></span>Freizeitaktivität {{formStateText}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>
