<div class="listing-preview" (click)="previewClick($event)">
  <div class="listing-header purchase-request">
    <p>Gesuch / Freizeit</p>
  </div>
  <div class="listing-image">
    <view-preview-image></view-preview-image>
  </div>
  <div class="listing-heading">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-start-date-and-time></view-preview-start-date-and-time>
  </div>
  <div class="listing-footer">
    <!-- MAY NEED TO ARRANGE A SEPARATE COMPONENT FOR THIS? -->
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
