<div class="listing-preview">
  <div class="listing-header recreation-request" (click)="displayListingDetail()">
    <p>Gesuch / Freizeit</p>
  </div>
  <div class="listing-image recreation-request-50" (click)="displayListingDetail()">
    <view-preview-image></view-preview-image>
    <div *ngIf="!listing.mainImage">
      <div class="fallback-icon">
        <span class="icon listing-recreation"></span>
      </div>
    </div>
  </div>
  <div class="listing-heading" (click)="displayListingDetail()">
    <view-preview-title></view-preview-title>
  </div>
  <div class="listing-body">
    <view-preview-start-date-and-time></view-preview-start-date-and-time>
  </div>
  <div class="listing-footer">
    <!-- MAY NEED TO ARRANGE A SEPARATE COMPONENT FOR THIS? -->
    <view-preview-favourite></view-preview-favourite>
  </div>
</div>
